@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-raleway);
  --color-brand-50: #f2f2f2;
  --color-brand-100: #d9d9d9;
  --color-brand-200: #bfbfbf;
  --color-brand-300: #a6a6a6;
  --color-brand-400: #8c8c8c;
  --color-brand-500: #737373;
  --color-brand-600: #595959;
  --color-brand-700: #404040;
  --color-brand-800: #262626;
  --color-brand-900: #0d0d0d;
}

/* 
[data-theme="dark"] {
  --color-background: #171717;
  --color-foreground: #ffffff;
}

[data-theme="light"] {
    --color-foreground: #171717;
    --color-background: #ffffff;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base{
  body {
      background: var(--background);
      color: var(--foreground);
      font-family: var(--font-raleway);
      color: var(--color-brand-900);
      background-color: var(--color-brand-50);
  }
  [data-theme="dark"] body {
      background-color: var(--color-brand-900);
      color: var(--color-brand-50);
  }
}

